/* Overall div container */
.container {
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 0.01rem solid black;
}

/* Adding padding to the "nav" element
And using the display properties 
*/
.nav {
  padding: 0.5rem;
}

/* Logo Container */
.logoContainer {
  padding: 0;
  margin: 0;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  background-color: #fc9804;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}

/* Logo text */
.logo {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0.3rem;
}
