.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.logoContainer {
  font-size: 2rem;
  margin-left: 3rem;
}

.textLogo {
  border-right: solid 0.2rem white;
  border-left: solid 0.2rem white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}

.listItems {
  display: flex;
  gap: 1rem;
}

.navList {
  margin-right: 3rem;
}

.btn {
  display: none;
  font-size: 2rem;
}

@media only screen and (max-width: 554px) {
  .listItems {
    flex-direction: column;
    justify-content: start;
    position: absolute;
    width: 20rem;
    height: 100%;
    top: 3.7rem;
    left: 0;
    opacity: 0.9;
    background-color: #000;
    transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    z-index: 3;
  }

  .listItems {
    display: flex;
    gap: 0rem;
  }

  .navItems {
    margin: 1rem 0;
    padding: 0.5rem;
  }
  .navItems:hover {
    margin: 1rem 0;
    padding: 0.5rem;
    border-left: solid 0.1rem white;
  }

  .display {
    position: absolute;
    top: -100%;
  }

  .btn {
    display: block;
    cursor: pointer;
  }
}

/* @media screen and (max-width: 391px) {
  .navLists > Link {
    font: 900;
    color: rebeccapurple;
  }
} */

/* @media screen and (max-width: 201px) {
  .navLists {
  }
}
@media screen and (max-width: 169px) {
  .navLists {
  }
}

@media screen and (max-width: 110px) {
  .navLists {
  }
} */
