.container {
  width: 100%;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.cardContainer {
  width: 19em;
  height: 100%;
  display: flex;
}

.card {
  display: flex;
  position: relative;
  margin-top: 1rem;
}

.imgContainer {
  width: 14rem;
  height: 20rem;
  z-index: 1;
}

.img {
  width: inherit;
  height: 20rem;
  object-fit: fill;
  box-shadow: 0 0 20px -10px black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  user-select: none;
}
.img:hover {
  transform: translate(-0.5rem, 0) scale(1.01);
  -webkit-transform: translate(-0.5rem, 0) scale(1.01);
  -moz-transform: translate(-0.5rem, 0) scale(1.01);
  -ms-transform: translate(-0.5rem, 0) scale(1.01);
  -o-transform: translate(-0.5rem, 0) scale(1.01);
}

.cardDetails {
  width: 16rem;
  height: 20rem;
  background-color: #fff;
  box-shadow: 0 0 20px -10px black;
  padding: 0 2rem;
  position: relative;
  left: -14rem;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cardDetails:hover {
  position: relative;
  left: -11rem;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  margin: 0.3reem;
  z-index: 2;
}

.faIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 2rem;
  height: 3rem;
  margin: 0 0.5rem;
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 20px -10px black;
}

.view {
  z-index: 0;
}

.noView {
  z-index: 10;
}

.nameAs {
  color: rgb(196, 189, 189);
}

.bio {
  width: fit-content;
}

.icon {
  color: rgb(28, 134, 255);
  font-size: xx-large;
  margin: 1rem 0;
  cursor: pointer;
}

.eye {
  color: rgb(28, 134, 255);
  font-size: x-large;
  transform: translate(12rem, 0.7rem);
  -webkit-transform: translate(12rem, 0.7rem);
  -moz-transform: translate(12rem, 0.7rem);
  -ms-transform: translate(12rem, 0.7rem);
  -o-transform: translate(12rem, 0.7rem);
  cursor: pointer;
}
.eye:hover {
  color: rgb(177, 212, 252);
}

@media only screen and (max-width: 554px) {
  .container {
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .imgContainer {
    width: 14rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 478px) {
  .cardDetails:hover {
    position: relative;
    left: -10rem;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    margin: 0.3reem;
    z-index: 2;
  }
}

@media only screen and (max-width: 408px) {
  .container {
    width: 100%;
    display: flex;
    gap: 3.5rem;
  }
  .cardContainer {
    width: 19em;
    height: 100%;
    display: flex;
    margin-right: 4rem;
  }
  .cardDetails:hover {
    position: relative;
    left: -12rem;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    margin: 0.3reem;
    z-index: 2;
  }
}

@media only screen and (max-width: 352px) {
  .cardDetails:hover {
    position: relative;
    left: -14rem;
    transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    margin: 0.3reem;
    z-index: 2;
  }
}
